server/HELP.md
server/target/
server/src/main/resources/application-local.yml
!server/.mvn/wrapper/maven-wrapper.jar
!**/server/src/main/**/target/
!**/server/src/test/**/target/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/build/
!**/server/src/main/**/build/
!**/server/src/test/**/build/

### VS Code ###
server/.vscode/
