.severity_indicator {
    display: inline-block;
    width: 177px;
    height: 24px;
    padding: 2px;
    margin: 9px;
    overflow: hidden;
    border: 1px solid #b1b1b1;
}

.severity_notch {
    display: inline-block;
    width: 32px;
    height: 22px;
    margin-right: 2px;
}

.severity_notch_filled {
    background-color: #2196f3;
    border: 1px solid #2196f3;
}

.severity_notch_empty {
    border: 1px solid #b1b1b1;
}

.severity_notch:nth-of-type(5) {
    margin-right: 0px;
}